{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/login.css' %}">

    <style>
        body{
            background-image: url('{% static "img/back.png" %}');
            background-size: cover;
        }
        h5{
            color: red;
        }
    </style>
</head>

<body>
    
    <div class="bg-image">
        <div class="signup-container">
            <h1>SignUp</h1>
            <h2>Unlimited movies, TV shows, and more.</h2>

            <div>
                 {% for msg in messages %}
                 <h5>{{msg}}</h5>
                 {% endfor %}
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <input type="email" name="email" id="" placeholder="Email address" />
                <input type="text" name="username" id="" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="password2" id="" placeholder="Repeat password" />
                <button style="color: white" type="submit" class="signup-btn">Get Started</button>
            </form>

            <div class="help-text" >
                <span>Ready to watch? Enter your email to create or restart your membership...</span>
                <br>
                <br>
                <span>Already have an account? <a href="{% url 'app:userlogin' %}">Login</a></span>  
            </div>
        </div>
    </div>
</body>
</html>